<%= @user.name %>, <%= @user.email %>

<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <strong>
        Events you are attending:
      </strong><br>
      <table>
        <thead>
        <tr>
          <th>Title</th>
          <th>Date</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <% attending_events.each do |event| %>
        <tr>
          <td><%= event.title %></td>
          <td><%= event.start_date.to_date %></td>
          <td><%= event.text %></td>
        </tr>
        <% end %>
        </tbody>
      </table><br>


      <strong>
        Events you are hosting:
      </strong><br>
      <table>
        <thead>
        <tr>
          <th>Title</th>
          <th>Date</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <% hosting_events.each do |event| %>
            <tr>
              <td><%= event.title %></td>
              <td><%= event.start_date.to_date %></td>
              <td><%= event.text %></td>
            </tr>
        <% end %>
        </tbody>
      </table><br>
    </section>
  </aside>
</div>