<h1>AWESOME EVENTS!</h1>
<%= link_to 'My Events', controller: 'events' %>

<br>
<h2> Search Events </h2>
<%= form_tag(events_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Events" %>
<%= submit_tag "Enter" %>
<% end %>

<% if @events.present? %>
  <%= render @events %>
<% else %>
  <p>There are no events containing the term(s) <%= params[:search] %>.</p>
<% end %>
