<%= form_for @event do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@event.errors.count, "error") %> prohibited this article from being saved:
      </h2>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<p>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :text %><br>
  <%= f.text_area :text %>
</p>

<p>
  <%= f.label :location %><br>
  <%= f.select :location, %w(Fitzrovia Bloomsbury City Camden SoHo Angel) %>
</p>

<p>
  <%= f.label :category %><br>
  <%= f.select :category, %w(Programming DataAnalytics Writing Mathematics Other) %>
</p>

<p>
  <%= f.submit %>
</p>

<% end %>