<%= form_for @event do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:
      </h2>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<p>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :text %><br>
  <%= f.text_area :text %>
</p>



<p>
   <%= f.label :start_date %>
   <%= f.date_select :start_date, :start_year => 1900%>
   <%= f.label :start_time %>
   <%= f.time_select :start_time %>
   <%= f.label :end_date %>
   <%= f.date_select :end_date%>
   <%= f.label :end_time%>
   <%= f.time_select :end_time%>
</p>

<p>
  <%= f.label :location %><br>
  <%= f.select :location, %w(Fitzrovia Bloomsbury City Camden SoHo Angel) %>
</p>

<p>
  <%= f.label :category %><br>
  <%= f.select :category, %w(Programming DataAnalytics Writing Mathematics Other) %>
</p>

<p>
  <%= f.label :available_tickets, value:"Available tickets", :id => "ticket_label"%><br>
  <%= f.number_field :available_tickets, :class => "required" %>
</p>

<p>
  <%= f.submit %>
</p>

<% end %>

