<p>
  <strong><%= @event.title %></strong>
</p>

<p>
  <br>
  <%= @event.text %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Category:</strong>
  <%= @event.category %>
</p>

<p>
  <strong>Available tickets:</strong> <%= @event.available_tickets %>
</p>

<% if logged_in? %>

  <% unless has_ticket?%>
        <% if time_surpassed? %>
          <% if tickets_left? %>
            <%= link_to event_tickets_path(@event, ticket: {user_id: current_user.id}), method: :post do %>
            <strong>Book a ticket!</strong>
            <% end %>
          <%end%>
        <%end%>
        <% else %>
        Looks like you already have a ticket for this event :)
    <%end%>
    <br>
    <% if is_host? %>
        <%= link_to 'Edit this event', edit_event_path(@event) %><br>
        <%= link_to 'Delete this event', @event, :confirm => 'Are you sure?',
                    :method => :delete %></td>
      <% end %>


<br>
<h2>Comments</h2>
<%= render @event.comments %>

<%= render 'comments/form' %>
<% end %>

<br>
<%= link_to 'Back', events_path %>

