
<h1><%= @event.title %></h1>

<h3>About this event</h3>
<p id="description">
  <%= @event.text %><br>
  This event will be held in <strong><%= @event.location %></strong>,
  and is in the <strong><%= @event.category %></strong> category.
</p>
<br>


<h4>Ticket information</h4>
<p>
  There are currently <strong><%= @event.available_tickets %></strong> available tickets for this event.
  Ticket sales last until <%= @event.end_time.strftime("%I:%M%p") %> on <%= @event.end_date.to_date %>.
</p>


<% if logged_in? %>

  <% unless has_ticket?%>
        <% if time_surpassed? %>
          <% if tickets_left? %>
            <p id="ticket"><%= link_to event_tickets_path(@event, ticket: {user_id: current_user.id}), method: :post do %>
            <strong>Book a ticket!</strong></p>
            <% end %>
                <% else %>
                <p>Looks like there are no tickets left for this event.</p>
          <%end%>
            <% else %>
            <p>Looks like the ticket sale is no longer on for this event.</p>
        <%end%>
        <% else %>
        <p>Looks like you already have a ticket for this event :)</p>
    <%end%>

    <% if is_host? %>
        <section>
          <h5>Tickets sold</h5>
          So far <%= @event.tickets_sold %> out of <%= @event.available_tickets + @event.tickets_sold %> tickets have been sold.
        </section>
        <br>
        <section>
          <h4>People attending your event</h4>
          <%= render 'attending_guests' %>
        </section>
        <% end %>
    <br>
    <% if !time_surpassed? %>
            <h3>Ratings</h3>
            <br>
            Helpfulness: <%= rating_for @event, "helpfulness", enable_half: true, cancel_place: 'right' %>
            Relevance: <%= rating_for @event, "relevance", enable_half: true, cancel_place: 'right' %>
            Host: <%= rating_for @event, "host", enable_half: true, cancel_place: 'right' %>
            Original Score: <%= rating_for @event, "original_score", disable_after_rate: true, imdb_avg: true, cancel_place: 'right' %>
    <br>
    <h3>Comments</h3>
    <%= render @event.comments %>
    <%= render 'comments/form' %>
    <% end %>

<% end %>

<% if is_host? %>
    <br>
    <%= link_to 'Edit this event', edit_event_path(@event) %><br>
    <%= link_to 'Delete this event', @event, :confirm => 'Are you sure?',
                :method => :delete %></td>
<% end %>
<br>
<%= link_to 'Go back to all events', events_path %>
